In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [59]:
df = pd.read_csv("codon_usage.csv")
df.head()
df.shape

/var/folders/_l/bl834h2s2l596t2436h35y0c0000gn/T/ipykernel_78280/762103274.py:1: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("codon_usage.csv")

(13028, 69)

In [60]:
unique_types = df['UUU'].apply(type).unique()
print(unique_types)

[<class 'str'> <class 'float'>]

In [61]:
for col in df.columns:
    print(f"Column Name: {col} | DataType: {df[col].dtype}")

Column Name: Kingdom | DataType: object
Column Name: DNAtype | DataType: int64
Column Name: SpeciesID | DataType: int64
Column Name: Ncodons | DataType: int64
Column Name: SpeciesName | DataType: object
Column Name: UUU | DataType: object
Column Name: UUC | DataType: object
Column Name: UUA | DataType: float64
Column Name: UUG | DataType: float64
Column Name: CUU | DataType: float64
Column Name: CUC | DataType: float64
Column Name: CUA | DataType: float64
Column Name: CUG | DataType: float64
Column Name: AUU | DataType: float64
Column Name: AUC | DataType: float64
Column Name: AUA | DataType: float64
Column Name: AUG | DataType: float64
Column Name: GUU | DataType: float64
Column Name: GUC | DataType: float64
Column Name: GUA | DataType: float64
Column Name: GUG | DataType: float64
Column Name: GCU | DataType: float64
Column Name: GCC | DataType: float64
Column Name: GCA | DataType: float64
Column Name: GCG | DataType: float64
Column Name: CCU | DataType: float64
Column Name: CCC | DataType: float64
Column Name: CCA | DataType: float64
Column Name: CCG | DataType: float64
Column Name: UGG | DataType: float64
Column Name: GGU | DataType: float64
Column Name: GGC | DataType: float64
Column Name: GGA | DataType: float64
Column Name: GGG | DataType: float64
Column Name: UCU | DataType: float64
Column Name: UCC | DataType: float64
Column Name: UCA | DataType: float64
Column Name: UCG | DataType: float64
Column Name: AGU | DataType: float64
Column Name: AGC | DataType: float64
Column Name: ACU | DataType: float64
Column Name: ACC | DataType: float64
Column Name: ACA | DataType: float64
Column Name: ACG | DataType: float64
Column Name: UAU | DataType: float64
Column Name: UAC | DataType: float64
Column Name: CAA | DataType: float64
Column Name: CAG | DataType: float64
Column Name: AAU | DataType: float64
Column Name: AAC | DataType: float64
Column Name: UGU | DataType: float64
Column Name: UGC | DataType: float64
Column Name: CAU | DataType: float64
Column Name: CAC | DataType: float64
Column Name: AAA | DataType: float64
Column Name: AAG | DataType: float64
Column Name: CGU | DataType: float64
Column Name: CGC | DataType: float64
Column Name: CGA | DataType: float64
Column Name: CGG | DataType: float64
Column Name: AGA | DataType: float64
Column Name: AGG | DataType: float64
Column Name: GAU | DataType: float64
Column Name: GAC | DataType: float64
Column Name: GAA | DataType: float64
Column Name: GAG | DataType: float64
Column Name: UAA | DataType: float64
Column Name: UAG | DataType: float64
Column Name: UGA | DataType: float64

In [62]:
def find_non_numeric_directly(column_name):
    # This function checks each entry to see if it's not an instance of numbers
    non_numeric = df[column_name].apply(lambda x: not isinstance(x, (int, float)))

    # Return unique non-numeric entries for the column
    return df.loc[non_numeric, column_name].unique()

# Apply the function across all columns and print the results
for col in df.columns[5:]:
    non_numeric_entries = find_non_numeric_directly(col)
    if len(non_numeric_entries) > 0:  # Only print if non-numeric entries are found
        print(f"Non-numeric entries in {col} column: {non_numeric_entries}")

Non-numeric entries in UUU column: ['0.01654' '0.02714' '0.01974' ... '0.01527' '0.00716' '0.04902']
Non-numeric entries in UUC column: ['0.01203' '0.01357' '0.0218' ... '0.03927' '0.05992' '0.01704']

In [63]:
to_convert = ['UUU','UUC']
convert_dict = {'UUU': float, 'UUC': float}

df = df.astype(convert_dict)
print(df.dtypes)

ValueError: could not convert string to float: 'non-B hepatitis virus': Error while type casting for column 'UUU'

In [64]:
print(df.iloc[486])

Kingdom            vrl
DNAtype              0
SpeciesID        12440
Ncodons           1238
SpeciesName      Non-A
                ...
GAA            0.01696
GAG            0.02423
UAA            0.02262
UAG            0.00162
UGA                0.0
Name: 486, Length: 69, dtype: object

In [65]:
df.drop(486, inplace=True)

In [66]:
to_convert = ['UUU','UUC']
convert_dict = {'UUU': float, 'UUC': float}

df = df.astype(convert_dict)
print(df.dtypes)

ValueError: could not convert string to float: '12;I': Error while type casting for column 'UUU'

In [67]:
print(df.iloc[5062])

Kingdom                                                  bct
DNAtype                                                    0
SpeciesID                                             353569
Ncodons                                                 1698
SpeciesName    Salmonella enterica subsp. enterica serovar 4
                                   ...
GAA                                                  0.02945
GAG                                                  0.02356
UAA                                                  0.04476
UAG                                                  0.02473
UGA                                                  0.00118
Name: 5063, Length: 69, dtype: object

In [68]:
df[5060:5070]

,Kingdom,DNAtype,SpeciesID,Ncodons,SpeciesName,UUU,UUC,UUA,UUG,CUU,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
5061,bct,0,351746,1763090,Pseudomonas putida F1,0.0069,0.02851,0.00115,0.01684,0.00652,...,0.01005,0.00082,0.00196,0.01556,0.03755,0.02709,0.02898,0.00063,0.00034,0.00201
5062,bct,0,352164,1374,Sphingomonas sp. NM05,0.00946,0.03202,0.00073,0.00946,0.01528,...,0.01601,0.00073,0.00291,0.02183,0.04148,0.03130,0.03493,0.00218,0.00000,0.00146
5063,bct,0,353569,1698,Salmonella enterica subsp. enterica serovar 4,12;I,-,0.02120,0.02356,0.01178,...,0.03062,0.00118,0.00707,0.00118,0.00000,0.02945,0.02356,0.04476,0.02473,0.00118
5064,bct,0,354,25616,Azotobacter vinelandii,0.00453,0.03264,0.00090,0.00921,0.00488,...,0.01300,0.00168,0.00273,0.01925,0.04591,0.02416,0.03560,0.00031,0.00043,0.00230
5065,bct,0,354242,638965,Campylobacter jejuni subsp. jejuni 81-176,0.05498,0.00458,0.04962,0.01512,0.03013,...,0.00021,0.01669,0.00275,0.04860,0.00449,0.05741,0.01287,0.00217,0.00035,0.00078
5066,bct,0,354581,1577,Nitrosospira sp. 9SS1,0.01522,0.02536,0.00254,0.01839,0.01015,...,0.00824,0.00317,0.00127,0.02917,0.02854,0.05263,0.01585,0.00063,0.00127,0.00063
5067,bct,0,354582,1582,Nitrosospira sp. NIJS16,0.01643,0.02339,0.00442,0.01643,0.01643,...,0.00885,0.00126,0.00632,0.03287,0.02781,0.04930,0.02086,0.00190,0.00000,0.00063
5068,bct,0,354583,1582,Nitrosospira sp. NIJS18,0.01643,0.02276,0.00442,0.01643,0.01643,...,0.00822,0.00126,0.00569,0.03350,0.02781,0.04994,0.02023,0.00190,0.00000,0.00063
5069,bct,0,355,1180,Azotobacter chroococcum,0.00169,0.03475,0.00000,0.00424,0.00254,...,0.01017,0.00085,0.00254,0.01102,0.04407,0.02034,0.05763,0.00000,0.00085,0.00254
5070,bct,0,355249,12378,Streptomyces sp. Tu6071,0.00113,0.02811,0.00016,0.00452,0.00339,...,0.03280,0.00129,0.00662,0.00646,0.05502,0.01341,0.04573,0.00008,0.00032,0.00242

In [69]:
df.drop(5063, inplace=True)

In [70]:
df[5060:5070]

,Kingdom,DNAtype,SpeciesID,Ncodons,SpeciesName,UUU,UUC,UUA,UUG,CUU,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
5061,bct,0,351746,1763090,Pseudomonas putida F1,0.0069,0.02851,0.00115,0.01684,0.00652,...,0.01005,0.00082,0.00196,0.01556,0.03755,0.02709,0.02898,0.00063,0.00034,0.00201
5062,bct,0,352164,1374,Sphingomonas sp. NM05,0.00946,0.03202,0.00073,0.00946,0.01528,...,0.01601,0.00073,0.00291,0.02183,0.04148,0.03130,0.03493,0.00218,0.00000,0.00146
5064,bct,0,354,25616,Azotobacter vinelandii,0.00453,0.03264,0.00090,0.00921,0.00488,...,0.01300,0.00168,0.00273,0.01925,0.04591,0.02416,0.03560,0.00031,0.00043,0.00230
5065,bct,0,354242,638965,Campylobacter jejuni subsp. jejuni 81-176,0.05498,0.00458,0.04962,0.01512,0.03013,...,0.00021,0.01669,0.00275,0.04860,0.00449,0.05741,0.01287,0.00217,0.00035,0.00078
5066,bct,0,354581,1577,Nitrosospira sp. 9SS1,0.01522,0.02536,0.00254,0.01839,0.01015,...,0.00824,0.00317,0.00127,0.02917,0.02854,0.05263,0.01585,0.00063,0.00127,0.00063
5067,bct,0,354582,1582,Nitrosospira sp. NIJS16,0.01643,0.02339,0.00442,0.01643,0.01643,...,0.00885,0.00126,0.00632,0.03287,0.02781,0.04930,0.02086,0.00190,0.00000,0.00063
5068,bct,0,354583,1582,Nitrosospira sp. NIJS18,0.01643,0.02276,0.00442,0.01643,0.01643,...,0.00822,0.00126,0.00569,0.03350,0.02781,0.04994,0.02023,0.00190,0.00000,0.00063
5069,bct,0,355,1180,Azotobacter chroococcum,0.00169,0.03475,0.00000,0.00424,0.00254,...,0.01017,0.00085,0.00254,0.01102,0.04407,0.02034,0.05763,0.00000,0.00085,0.00254
5070,bct,0,355249,12378,Streptomyces sp. Tu6071,0.00113,0.02811,0.00016,0.00452,0.00339,...,0.03280,0.00129,0.00662,0.00646,0.05502,0.01341,0.04573,0.00008,0.00032,0.00242
5071,bct,0,355276,1927314,Leptospira borgpetersenii serovar Hardjo-bovis...,0.03645,0.01987,0.02143,0.02183,0.02858,...,0.00433,0.01832,0.00579,0.03065,0.01687,0.05684,0.01547,0.00156,0.00044,0.00106

In [71]:
to_convert = ['UUU','UUC']
convert_dict = {'UUU': float, 'UUC': float}

df = df.astype(convert_dict)
print(df.dtypes)

Kingdom         object
DNAtype          int64
SpeciesID        int64
Ncodons          int64
SpeciesName     object
                ...
GAA            float64
GAG            float64
UAA            float64
UAG            float64
UGA            float64
Length: 69, dtype: object

In [72]:
for col in df.columns[5:7]:
    non_numeric_entries = find_non_numeric_directly(col)
    if len(non_numeric_entries) > 0:  # Only print if non-numeric entries are found
        print(f"Non-numeric entries in {col} column: {non_numeric_entries}")

In [73]:
dups = df.duplicated()

if dups.any():
    print(df[dups])
else:
    print("No duplicates")

No duplicates

In [74]:
missing_value_columns = df.columns[df.isnull().any()]

# Print out columns with missing values
print("Columns with missing values:")
print(missing_value_columns)

# Optionally, print out rows that contain missing values in these columns
for col in missing_value_columns:
    print(f"\nRows with missing values in {col}:")
    # Display the rows where values in the column are missing
    print(df[df[col].isnull()])

Columns with missing values:
Index([], dtype='object')

In [77]:
for col in df.columns:
    print(f"Column Name: {col} | DataType: {df[col].dtype}")

Column Name: Kingdom | DataType: object
Column Name: DNAtype | DataType: int64
Column Name: SpeciesID | DataType: int64
Column Name: Ncodons | DataType: int64
Column Name: SpeciesName | DataType: object
Column Name: UUU | DataType: float64
Column Name: UUC | DataType: float64
Column Name: UUA | DataType: float64
Column Name: UUG | DataType: float64
Column Name: CUU | DataType: float64
Column Name: CUC | DataType: float64
Column Name: CUA | DataType: float64
Column Name: CUG | DataType: float64
Column Name: AUU | DataType: float64
Column Name: AUC | DataType: float64
Column Name: AUA | DataType: float64
Column Name: AUG | DataType: float64
Column Name: GUU | DataType: float64
Column Name: GUC | DataType: float64
Column Name: GUA | DataType: float64
Column Name: GUG | DataType: float64
Column Name: GCU | DataType: float64
Column Name: GCC | DataType: float64
Column Name: GCA | DataType: float64
Column Name: GCG | DataType: float64
Column Name: CCU | DataType: float64
Column Name: CCC | DataType: float64
Column Name: CCA | DataType: float64
Column Name: CCG | DataType: float64
Column Name: UGG | DataType: float64
Column Name: GGU | DataType: float64
Column Name: GGC | DataType: float64
Column Name: GGA | DataType: float64
Column Name: GGG | DataType: float64
Column Name: UCU | DataType: float64
Column Name: UCC | DataType: float64
Column Name: UCA | DataType: float64
Column Name: UCG | DataType: float64
Column Name: AGU | DataType: float64
Column Name: AGC | DataType: float64
Column Name: ACU | DataType: float64
Column Name: ACC | DataType: float64
Column Name: ACA | DataType: float64
Column Name: ACG | DataType: float64
Column Name: UAU | DataType: float64
Column Name: UAC | DataType: float64
Column Name: CAA | DataType: float64
Column Name: CAG | DataType: float64
Column Name: AAU | DataType: float64
Column Name: AAC | DataType: float64
Column Name: UGU | DataType: float64
Column Name: UGC | DataType: float64
Column Name: CAU | DataType: float64
Column Name: CAC | DataType: float64
Column Name: AAA | DataType: float64
Column Name: AAG | DataType: float64
Column Name: CGU | DataType: float64
Column Name: CGC | DataType: float64
Column Name: CGA | DataType: float64
Column Name: CGG | DataType: float64
Column Name: AGA | DataType: float64
Column Name: AGG | DataType: float64
Column Name: GAU | DataType: float64
Column Name: GAC | DataType: float64
Column Name: GAA | DataType: float64
Column Name: GAG | DataType: float64
Column Name: UAA | DataType: float64
Column Name: UAG | DataType: float64
Column Name: UGA | DataType: float64

In [75]:
df.head()

,Kingdom,DNAtype,SpeciesID,Ncodons,SpeciesName,UUU,UUC,UUA,UUG,CUU,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,vrl,0,100217,1995,Epizootic haematopoietic necrosis virus,0.01654,0.01203,0.00050,0.00351,0.01203,...,0.00451,0.01303,0.03559,0.01003,0.04612,0.01203,0.04361,0.00251,0.00050,0.00000
1,vrl,0,100220,1474,Bohle iridovirus,0.02714,0.01357,0.00068,0.00678,0.00407,...,0.00136,0.01696,0.03596,0.01221,0.04545,0.01560,0.04410,0.00271,0.00068,0.00000
2,vrl,0,100755,4862,Sweet potato leaf curl virus,0.01974,0.02180,0.01357,0.01543,0.00782,...,0.00596,0.01974,0.02489,0.03126,0.02036,0.02242,0.02468,0.00391,0.00000,0.00144
3,vrl,0,100880,1915,Northern cereal mosaic virus,0.01775,0.02245,0.01619,0.00992,0.01567,...,0.00366,0.01410,0.01671,0.03760,0.01932,0.03029,0.03446,0.00261,0.00157,0.00000
4,vrl,0,100887,22831,Soil-borne cereal mosaic virus,0.02816,0.01371,0.00767,0.03679,0.01380,...,0.00604,0.01494,0.01734,0.04148,0.02483,0.03359,0.03679,0.00000,0.00044,0.00131

In [76]:
numSpecies = df['SpeciesName'].unique()

In [78]:
len(numSpecies)

13014

In [79]:
df.drop(['SpeciesName', 'SpeciesID'], axis=1, inplace=True)

In [80]:
df.head()

,Kingdom,DNAtype,Ncodons,UUU,UUC,UUA,UUG,CUU,CUC,CUA,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,vrl,0,1995,0.01654,0.01203,0.00050,0.00351,0.01203,0.03208,0.00100,...,0.00451,0.01303,0.03559,0.01003,0.04612,0.01203,0.04361,0.00251,0.00050,0.00000
1,vrl,0,1474,0.02714,0.01357,0.00068,0.00678,0.00407,0.02849,0.00204,...,0.00136,0.01696,0.03596,0.01221,0.04545,0.01560,0.04410,0.00271,0.00068,0.00000
2,vrl,0,4862,0.01974,0.02180,0.01357,0.01543,0.00782,0.01111,0.01028,...,0.00596,0.01974,0.02489,0.03126,0.02036,0.02242,0.02468,0.00391,0.00000,0.00144
3,vrl,0,1915,0.01775,0.02245,0.01619,0.00992,0.01567,0.01358,0.00940,...,0.00366,0.01410,0.01671,0.03760,0.01932,0.03029,0.03446,0.00261,0.00157,0.00000
4,vrl,0,22831,0.02816,0.01371,0.00767,0.03679,0.01380,0.00548,0.00473,...,0.00604,0.01494,0.01734,0.04148,0.02483,0.03359,0.03679,0.00000,0.00044,0.00131

In [83]:
# Converting 'DNAtype' from int64 to float64
df[['DNAtype', 'Ncodons']] = df[['DNAtype', 'Ncodons']].astype(float)

# Display the data types to confirm the change
print(df.dtypes)

Kingdom     object
DNAtype    float64
Ncodons    float64
UUU        float64
UUC        float64
            ...
GAA        float64
GAG        float64
UAA        float64
UAG        float64
UGA        float64
Length: 67, dtype: object

In [84]:
print(df.isnull().sum())

Kingdom    0
DNAtype    0
Ncodons    0
UUU        0
UUC        0
          ..
GAA        0
GAG        0
UAA        0
UAG        0
UGA        0
Length: 67, dtype: int64

In [85]:
df.head()

,Kingdom,DNAtype,Ncodons,UUU,UUC,UUA,UUG,CUU,CUC,CUA,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,vrl,0.0,1995.0,0.01654,0.01203,0.00050,0.00351,0.01203,0.03208,0.00100,...,0.00451,0.01303,0.03559,0.01003,0.04612,0.01203,0.04361,0.00251,0.00050,0.00000
1,vrl,0.0,1474.0,0.02714,0.01357,0.00068,0.00678,0.00407,0.02849,0.00204,...,0.00136,0.01696,0.03596,0.01221,0.04545,0.01560,0.04410,0.00271,0.00068,0.00000
2,vrl,0.0,4862.0,0.01974,0.02180,0.01357,0.01543,0.00782,0.01111,0.01028,...,0.00596,0.01974,0.02489,0.03126,0.02036,0.02242,0.02468,0.00391,0.00000,0.00144
3,vrl,0.0,1915.0,0.01775,0.02245,0.01619,0.00992,0.01567,0.01358,0.00940,...,0.00366,0.01410,0.01671,0.03760,0.01932,0.03029,0.03446,0.00261,0.00157,0.00000
4,vrl,0.0,22831.0,0.02816,0.01371,0.00767,0.03679,0.01380,0.00548,0.00473,...,0.00604,0.01494,0.01734,0.04148,0.02483,0.03359,0.03679,0.00000,0.00044,0.00131

In [86]:
outlier_indices = []

for col in df.select_dtypes(include=[np.number]).columns:  # Ensure handling numerical data only

    # Calculate summary statistics
    column_data = df[col]
    data_mean, data_std = np.mean(column_data), np.std(column_data)
    
    # Define outliers
    cut_off = data_std * 3
    lower, upper = data_mean - cut_off, data_mean + cut_off

    # Identify outliers
    outliers = df[(column_data < lower) | (column_data > upper)].index
    outlier_indices.extend(outliers)  # Append found outlier indices

# Drop outliers
df.drop(index=set(outlier_indices), inplace=True)  # Use set to avoid duplicate indices
print(f"# of Samples After Removal of Outliers: {df.shape[0]}")

# of Samples After Removal of Outliers: 8561

In [87]:
import sklearn.utils
X = df.iloc[:, 1:]
y = df.iloc[:, 0]

print("X:")
print(X)
print("y:")
print(y)

X, y = sklearn.utils.shuffle(X, y, random_state=0)

print("X:")
print(X)
print("y:")
print(y)

X:
       DNAtype  Ncodons      UUU      UUC      UUA      UUG      CUU      CUC  \
2          0.0   4862.0  0.01974  0.02180  0.01357  0.01543  0.00782  0.01111
3          0.0   1915.0  0.01775  0.02245  0.01619  0.00992  0.01567  0.01358
4          0.0  22831.0  0.02816  0.01371  0.00767  0.03679  0.01380  0.00548
5          0.0   5274.0  0.02579  0.02218  0.01479  0.01024  0.02294  0.00758
6          0.0   3042.0  0.04635  0.01545  0.02005  0.02400  0.02761  0.01611
...        ...      ...      ...      ...      ...      ...      ...      ...
13020      1.0   3275.0  0.02290  0.02870  0.01863  0.00275  0.01954  0.03298
13021      0.0  96254.0  0.01739  0.02236  0.00887  0.01221  0.01307  0.01871
13022      1.0   2525.0  0.01228  0.03446  0.01624  0.00752  0.01505  0.04792
13023      0.0   1097.0  0.02552  0.03555  0.00547  0.01367  0.01276  0.02097
13024      1.0   2067.0  0.01258  0.03193  0.01984  0.00629  0.01451  0.05322

           CUA      CUG  ...      CGG      AGA      AGG      GAU      GAC  \
2      0.01028  0.01193  ...  0.00596  0.01974  0.02489  0.03126  0.02036
3      0.00940  0.01723  ...  0.00366  0.01410  0.01671  0.03760  0.01932
4      0.00473  0.02076  ...  0.00604  0.01494  0.01734  0.04148  0.02483
5      0.01782  0.01403  ...  0.00303  0.01593  0.00171  0.02427  0.02503
6      0.01052  0.00493  ...  0.00329  0.01315  0.00822  0.04011  0.01183
...        ...      ...  ...      ...      ...      ...      ...      ...
13020  0.07328  0.01008  ...  0.00092  0.00031  0.00031  0.00794  0.01924
13021  0.00824  0.03973  ...  0.00885  0.01497  0.01232  0.01886  0.02383
13022  0.07604  0.01188  ...  0.00079  0.00000  0.00040  0.00198  0.01941
13023  0.00820  0.03555  ...  0.00820  0.01367  0.01094  0.01367  0.02279
13024  0.07644  0.01258  ...  0.00145  0.00000  0.00048  0.00194  0.01306

           GAA      GAG      UAA      UAG      UGA
2      0.02242  0.02468  0.00391  0.00000  0.00144
3      0.03029  0.03446  0.00261  0.00157  0.00000
4      0.03359  0.03679  0.00000  0.00044  0.00131
5      0.02825  0.01270  0.00133  0.00038  0.00209
6      0.02663  0.02663  0.00033  0.00033  0.00000
...        ...      ...      ...      ...      ...
13020  0.02382  0.00580  0.00122  0.00214  0.01893
13021  0.02546  0.03319  0.00149  0.00068  0.00150
13022  0.02218  0.00792  0.00277  0.00079  0.01861
13023  0.02005  0.04102  0.00091  0.00091  0.00638
13024  0.01838  0.00677  0.00242  0.00097  0.01887

[8561 rows x 66 columns]
y:
2        vrl
3        vrl
4        vrl
5        vrl
6        vrl
        ...
13020    pri
13021    pri
13022    pri
13023    pri
13024    pri
Name: Kingdom, Length: 8561, dtype: object
X:
       DNAtype    Ncodons      UUU      UUC      UUA      UUG      CUU  \
11426      1.0     2686.0  0.02532  0.03016  0.03313  0.00596  0.01787
10171      0.0     4230.0  0.03357  0.02340  0.00638  0.00520  0.01324
11827      0.0     2353.0  0.00977  0.00977  0.00977  0.01020  0.01530
9533       0.0     6233.0  0.00898  0.01925  0.00770  0.01203  0.02150
6973       2.0     5743.0  0.01201  0.02020  0.01010  0.01724  0.00975
...        ...        ...      ...      ...      ...      ...      ...
6046       0.0     3481.0  0.01321  0.01953  0.00431  0.01925  0.00804
12148      1.0     4560.0  0.02763  0.04868  0.03158  0.00395  0.02544
6868       2.0     2469.0  0.02997  0.01296  0.02795  0.02349  0.01944
4116       0.0  1581056.0  0.02324  0.01686  0.01391  0.01403  0.01170
3263       0.0    34945.0  0.02813  0.00999  0.04204  0.01185  0.01442

           CUC      CUA      CUG  ...      CGG      AGA      AGG      GAU  \
11426  0.01675  0.08079  0.00335  ...  0.00149  0.00000  0.00074  0.00670
10171  0.02648  0.00709  0.03617  ...  0.00780  0.00520  0.01135  0.02837
11827  0.00552  0.00850  0.02762  ...  0.00467  0.01275  0.00807  0.03995
9533   0.01813  0.01139  0.01973  ...  0.00642  0.01235  0.00529  0.03080
6973   0.01236  0.01010  0.01097  ...  0.01706  0.01323  0.01132  0.02873
...        ...      ...      ...  ...      ...      ...      ...      ...
6046   0.01034  0.00460  0.02298  ...  0.00460  0.00345  0.00115  0.03045
12148  0.02412  0.06930  0.00833  ...  0.00000  0.00000  0.00263  0.00307
6868   0.00486  0.01701  0.00243  ...  0.00041  0.02147  0.00243  0.03888
4116   0.01096  0.00396  0.05087  ...  0.00632  0.00295  0.00192  0.03212
3263   0.00289  0.00853  0.00335  ...  0.00252  0.01643  0.00486  0.04550

           GAC      GAA      GAG      UAA      UAG      UGA
11426  0.01005  0.02345  0.00186  0.00223  0.00074  0.02494
10171  0.02199  0.04539  0.03452  0.00071  0.00118  0.00331
11827  0.03527  0.04037  0.03867  0.00127  0.00042  0.00085
9533   0.02310  0.04236  0.03385  0.00096  0.00112  0.00080
6973   0.01080  0.02542  0.02211  0.00087  0.00052  0.00122
...        ...      ...      ...      ...      ...      ...
6046   0.02585  0.04338  0.01666  0.00201  0.00000  0.00144
12148  0.02851  0.00921  0.00395  0.00000  0.00000  0.02851
6868   0.01458  0.05832  0.01701  0.00243  0.00000  0.00000
4116   0.01855  0.03821  0.01769  0.00203  0.00027  0.00110
3263   0.01113  0.06507  0.01989  0.00217  0.00114  0.00103

[8561 rows x 66 columns]
y:
11426    vrt
10171    vrt
11827    vrt
9533     inv
6973     pln
        ...
6046     bct
12148    mam
6868     pln
4116     bct
3263     bct
Name: Kingdom, Length: 8561, dtype: object

In [88]:
df['Kingdom'].unique()

array(['vrl', 'arc', 'bct', 'phg', 'plm', 'pln', 'inv', 'vrt', 'mam',
       'rod', 'pri'], dtype=object)

In [90]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline


models = {
    "Logistic Regression": LogisticRegression(max_iter=10000, multi_class='multinomial', solver='lbfgs'),
    "K-Nearest Neighbors": make_pipeline(StandardScaler(), KNeighborsClassifier()),
    "Random Forest": RandomForestClassifier(),
    "SVM": make_pipeline(StandardScaler(), SVC())
}


kf = KFold(n_splits=5, random_state=0, shuffle=True)

results = {}
for name, model in models.items():
    cv_scores = cross_val_score(model, X, y, cv=kf, scoring='accuracy')
    results[name] = cv_scores
    print(f"{name}: Mean accuracy={cv_scores.mean():.2f}, Standard deviation={cv_scores.std():.2f}")

/opt/anaconda3/envs/csci4521/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/anaconda3/envs/csci4521/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/anaconda3/envs/csci4521/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/anaconda3/envs/csci4521/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/anaconda3/envs/csci4521/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Regression: Mean accuracy=0.36, Standard deviation=0.04
K-Nearest Neighbors: Mean accuracy=0.92, Standard deviation=0.01
Random Forest: Mean accuracy=0.89, Standard deviation=0.01
SVM: Mean accuracy=0.94, Standard deviation=0.01